@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap');
* {
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #ECF0F1;
}

.form-group {
  margin-bottom: 1rem;
}

#inputValue {
	background-color: #ECE6AB;
  font-size: 1rem;
	padding: .5rem .5rem;;
  line-height: 1.5px;
  outline: none;
  width: 550px;
  border-radius: .10rem;
}

#search {
	background-color: #03A122;
	color: #FBFCFC;
	cursor: pointer;
	font-size: 1rem;
	line-height: 1.5;
  min-height: 20px;
	padding: .4rem .4rem;
  text-align: center;
  width: 12%;
}

#movie_search {
	margin-top: 15px;
}

section {
	display: flex;
	width: 100%;
	overflow-x: auto;
	height: 50%;
}

section img {
	height: 350px;
	width: 350px;
	transition: 250ms all;
}

img:hover {
	margin-left: 0 40px;
	cursor: pointer;
	transform: scale(1.2);
}